body{
    font-family: 'Segoe UI';
    background-color: #f2f2f2;
    margin: 0px;
}
/* body is for whole body */
#nav-side-panel{
    position: absolute;
    top:0;
    left:-50%;
    height:100vh;
    width: 20%;
    z-index: 1;
    transition: 0.3s left;
    text-transform: capitalize;
    background-color: royalblue;
    color:white;
}
/* #nav-side-panel is for side navigation  */
#nav-side-panel a,#logo{
    text-decoration: none;
    color: white;
    display:block;
    text-align: left;
    padding-left: 50px;
}
/* #nav-side-panel a is for every links in side navigation */
#logo{
    font-size: x-large;
    color:#3c447c;
}
/* this is for logo in side navigation */
.link{
    padding:20px;
    border-bottom: 1px solid white;
}
/* .link is for every links in side navigation */
.link:hover{
    cursor: pointer;
    border-bottom: 1px solid skyblue;
}
/* .link is for every links in side navigation */
#main-panel{
    width:100%;
    height: 100%;
    transition: 0.3s all;
}
/* #main-panel is required for the side-nav in javascript */
nav{
    height:10vh;
    width: 100%;
    box-shadow: 5px 5px 7px grey;
    background-color: white;
    display: flex;
    justify-content: space-between;
}
/* nav is for navigation bar */
nav>span{
    height: 30px;
    font-size: 30px;
    color: grey;
    outline: none;
    border: none;
    margin: 5px 10px 0px 10px;
}
/* nav>span is for every items in navigation bar */
nav>span>input{
    height: 30px;
    width:50rem;
    box-shadow: 5px 5px 10px 0px grey ;
}
nav>span>input:focus{
    outline: 2px solid green;
}
/* nav>span>input & nav>span>input:focus are for input inside navigation bar */
.icon{
    outline: none;
    border: none;
    background-color: skyblue;
    margin-left: 10px;
    color:black;
    font-size: 30px;
    padding: 0px 5px 0px 5px;
}
/* .icon is for serach bar in navigation bar */

.listing-panel{
    min-height: 25vh;
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    margin:0px 20px 20px 20px;
    justify-content: space-between;
}
.list img{
    height: 90px;
    width:90px;
}
.list{
    height: 130px;
    width: 110px;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    position: relative;
}
.list p{
    font-size: 20px;
    text-align: center;
    text-transform: capitalize;
}
.count{
    position: absolute;
    height: 30px;
    width:30px;
    text-align: center;
    border-radius: 50%;
    background-color: aqua;
    top:-10px;
    right:-10px;
}

.side-menu,.hide{
    cursor: pointer;
    transition: 0.3s transform;
}
.side-menu:hover{
    transform: rotateY(180deg);
}
.hide:hover{
    background-color: rgba(0, 0, 0, 0.5);
}
.hide{
    position: absolute;
    top: -10px;
    right: 0;
    color:white;
    padding: 10px;    
    font-weight: 600;
    border-radius: 50%;
}
/* .side-menu is for the style of side navigation,.hide is for side navigation hide function */
#details{
    clear: both;
    width: 97%;   
    margin:0px 20px 0px 20px;
    text-align: center;
    text-transform: capitalize;
}
#details td, #details th{
    padding:10px;
    background:#ffffff;
}
#details tr{
    border: 5px solid  rgb(235, 233, 233);
    border-radius: 10px;
}
.remarks{
    background-color:crimson ;
    padding: 5px;
    color: white;
    border-radius: 5px;
}
.order{
    background-color: blue;
    color:white;
}
@media screen and (max-width:1024px){
    nav{
        height:10vh;
    }
    nav>span{
        text-align: center;
    }
    nav>span>input{
        width:20rem;
    }
    #details{
        max-width:100px;
        overflow-x: auto;
    }
    #nav-side-panel {
        position: absolute;
        top: 0;
        left: -80%;
        background-color: royalblue;
        height: 100vh;
        width: 20%;
        
        z-index: 1;
        transition: 0.3s left;
        text-transform: capitalize;
        color: white;
    }
}


.main{
    width: auto;
    margin: 0px 40px 0px 40px;
}
